{% extends 'base.html' %}
{% block title %}Produtos{% endblock %}
{% block content %}
    <h1>Produtos na Categoria: {{ category.name }}</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">Preço: R$ {{ product.price }}</p>
                    <p class="card-text">Quantidade em Estoque: {{ product.quantity_in_stock }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="btn btn-primary" href="{{ url_for('categories') }}">Voltar</a>
{% endblock %}
